MONGO_URI

DB_NAME

COLLECTION_NAME

# SOTA Evaluator (LLM2) Config
LLM2_MODEL=gpt-4o
LLM2_API_KEY=your_sota_api_key_here

# MongoDB Output Database URL for Back-and-Forth Transcripts
MONGO_URL_OUTPUTS=<moengo_url_for_oputputs>