# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environments
# ==========================
venv/
.venv/
env/
ENV/

# ==========================
# Environment Variables
# ==========================
.env
.env.*
!.env.example

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# macOS / Linux
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# mypy
# ==========================
.mypy_cache/

# ==========================
# Ruff
# ==========================
.ruff_cache/

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Generated Results
# ==========================
pipeline_automated/experiment/results/

pipeline_automated/generated_requirements/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.bak